:root {
  --custom-container-bg: #fff;
  --custom-container-border: #dbdde1;
  --custom-container-color: #414143;
}

[data-theme="dark"] {
  --custom-container-bg: #000;
  --custom-container-border: #242424;
  --custom-container-color: #cbc5c5;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--custom-container-border);
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  position: relative;
  background-color: var(--custom-container-bg);
}

.container > p {
  margin: 0;
  margin-left: 12px;
  font-size: 14px;
  line-height: 22.4px;
  color: var(--custom-container-color);
}

.keys {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}
.keys > svg:first-child {
  margin-right: 4px;
}
