.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}

.link {
  color: var(--grey-900);
  font-family: 'DM Mono', monospace;
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0.6px;
  text-decoration-line: underline;
}
