/* CSS customized by Raj Karamchedu on 29 January 2024 */

@font-face {
	font-family: "Haffer";
	src: url(./fonts/Haffer-Light.ttf);
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Haffer";
	src: url(./fonts/Haffer-Medium.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Haffer";
	src: url(./fonts/Haffer-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Haffer";
	src: url(./fonts/Haffer-SemiBold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "HafferSQ";
	src: url(./fonts/HafferSQ-Light.ttf);
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "HafferSQ";
	src: url(./fonts/HafferSQ-Medium.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "HafferSQ";
	src: url(./fonts/HafferSQ-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "HafferSQ";
	src: url(./fonts/HafferSQ-SemiBold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "TTCommonsPro";
	src: url(./fonts/TTCommonsProMonoMedium.ttf);
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "TTCommonsPro";
	src: url(./fonts/TTCommonsProMonoRegular.ttf);
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "FiraCode";
	src: url(./fonts/FiraCode_VariableFont_wght.ttf);
}



html {
    --pst-font-family-base-system: 'Haffer', -apple-system, BlinkMacSystemFont, Segoe UI, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --pst-font-family-monospace-system: "TTCommonsPro", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;
    --pst-sidebar-font-size: 1.0rem;
    --pst-font-family-base: var(--pst-font-family-base-system);
    --pst-font-family-heading: var(--pst-font-family-base-system);
    --pst-font-family-monospace: var(--pst-font-family-monospace-system);
    --pst-color-inline-code-links: #0c0c0c;
    
}

html[data-theme=dark]{
    --pst-color-surface: none;
    --pst-color-inline-code-links: #fff;
    --pst-color-target: #545454;
    --pst-color-inline-code: #1fd01f;
}


html[data-theme=light]{
    --pst-color-surface: none;
    --pst-color-inline-code-links: #000;
    --pst-color-target: #eaebed;
    --pst-color-inline-code: #0fa50f;
}

html[data-theme=dark], html[data-theme=light] {
    --pst-color-primary: #838793;   
}

p {
    font-size: 16px !important;
}

code.xref, a code {
    font-weight: normal;
}

code.literal {
    background-color: none;
    border: none;
}

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
    display: none;
}

/* .search-button {
    display: none;
} */

.btn-fullscreen-button {
    display: none;
}

.bd-sidebar-secondary .onthispage {
    display: none;
}

@media (min-width: 992px){
.bd-sidebar-primary {
    flex-basis: 25%;
}
}

.bd-sidebar-secondary{
    max-height: none;
}

@media (min-width: 960px){
.bd-page-width {
    max-width: 98rem;
}
}