@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600&family=JetBrains+Mono&display=swap');

body {
  color: #221f1f;
  font-family: 'Open Sans', sans-serif;
}

h1 {
 font-size: 2.2em;
}

h2 {
 font-size: 1.5em;
}

h3 {
 font-size: 1.2em;
}

h4 {
 font-size: 1.0em;
}

.nav {
 font-family: 'Poppins', sans-serif;
}

.header-style, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.bd-toc .tocsection {
    padding: 4.0rem 0 .5rem 1rem !important; /* Right-side bar top padding to align with the main content title.  */
}


#main-content {
    margin-top: 1rem !important; /* Main content pushed down to align with the site title below logo on the left-side bar. If you change this you must change the .bd-toc .tocsection padding from 7.8rem.  */
}


.admonition.note .admonition-title {
    background-color: #fff0ec;
    letter-spacing: 0.045rem;
}

.admonition .admonition-title {
 font-family: 'Poppins', sans-serif;
}


nav.bd-links li.toctree-l1 {
    line-height: 1.45;
}

.card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transition: all 0.3s ease-in-out!important;
}

@media (min-width: 576px) {
  .card-deck .card {
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out!important;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container sm, .container-xl {
      max-width: 1400px;
  }
}

nav.bd-links p.caption {
    letter-spacing: 0.1em;
    font-family: 'Poppins', sans-serif;
}

.caption-text {
 letter-spacing: 0.1em;
 font-family: 'Poppins', sans-serif;
 font-size: 0.9em;
 text-transform: uppercase;
 font-weight: bold;
 position: relative;
 margin-top: 1.25em;
 margin-bottom: 0;
}

toc-h1, .toc-h2, .toc-h3, .toc-h4 {
    line-height: 1.45;
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) {
       #navbar-toggler {
           display: none;
       }
}

div.navbar_extra_footer {
    display: none;
}

div.dropdown-buttons-trigger {
  display: none;
}

a.full-screen-button {
    display: none;
}

pre {
    line-height: 150%;
    background-color: #f1f3f4; /* #ffc1070d; */
    padding: 22px;
    color: #37474f;
    font-size: 95%;
    border: none;
    box-shadow: none;
    /* font-family: 'JetBrains Mono', sans-serif; Avoid this here or else glyphs in code snippets. */
}

.header-style, h1, h2, h3, h4, h5, h6 {
    line-height: 1.35;
}

nav.bd-links li.toctree-l1, nav.bd-links li.toctree-l2, nav.bd-links li.toctree-l3, nav.bd-links li.toctree-l4, nav.bd-links li.toctree-l5 {
    margin-bottom: 0.35em;
    font-size: 1.0rem;
}

.bd-sidebar nav ul.nav a:hover, .bd-sidebar nav ul.nav li.active>a, .bd-sidebar nav ul.nav li.active>a:hover {
    color: #221f1f;
}
.bd-sidebar-secondary .onthispage {
    height: 3rem;
    min-height: 3rem;
    display: none;
}

.prev-next-bottom {
    height: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

blockquote {
    margin: 1rem 0 1rem;
    border-left: 0px solid #ccc;
    padding: .1em .1em;
}

code.xref, a code {
    font-weight: normal;
}

code.literal {
    background-color: none;
}

dt {
    font-weight: 400;
}

.sig-name, code.descname {
    background-color: transparent;
    font-weight: normal;
    color:#221f1f;
}

code {
    color:#221f1f;
}

main.bd-content #main-content div.section ul p, main.bd-content #main-content div.section ol p {
    margin-bottom: .5rem;
}

table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

.footer {
    font-size: .8em;
}

.bd-header-article .article-header-buttons {
   /*  display: flex; */
    display: none;
}
